body{
    background-image: url(animated_task/bg.webp);
    background-repeat:no-re    
}

.box1{
    margin-top: 510px;
animation-name: animation1;
animation-duration:4s;
animation-delay: 0s ;


}
@keyframes animation1 {



    from{
        margin-top: 510px;
        margin-left: 0px;
    }

    to{
        margin-top: 510px;
        margin-left: 1200px;}
    
}
.box2{
    margin-top: -100px;
    animation-name:animation2 ;
    animation-duration:5s;
    animation-delay:0s ;
    
    
    
}
@keyframes animation2 {

    from{
        margin-top: -100px;
        margin-left: 0px;
    }
    to{
        margin-top: -95px;
        margin-left: 1200px;
    }
}

.box3{
    margin-left: 1190px;
    margin-top: -90px;
}

.box4{
margin-top: -180px;
margin-left: 1200px;
animation-duration: 1s;
animation-name: animation3;
animation-delay: 2s;


}

@keyframes animation3 {

    0%{
 margin-top: -180;
 margin-left: 1200px;
 
    }
    25%{
        margin-top: -160px;
        margin-left: 1230;
    }
    50%{
        margin-top: -180;
        margin-left: 1200px; 
    }
    
    75%{
        margin-top: -160px;
        margin-left: 1230;
    }
    
    80%{
        margin-top: -180px;
        margin-left: 1230;
    }
    90%{
        margin-top: -160px;
        margin-left: 1230;
    }
}