/*h1 {
        background-color: green;
      }*/
/* #text-1 {
  background-color: red;
}
#text-2 {
  background-color: rgb(191, 255, 0);
}
#text-3 {
  background-color: rgb(93, 0, 255);
}

h1 {
  background-color: red;
} */
.one {
  background-color: red;
}
