<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <title>Inovation</title>
  </head>

  <body>
    <!-- hero section start -->
    <div class="hero-section">
      <header>
        
    <h2 class="logo"><img src="gallery/inovation.webp" width="200px" height="90px" alt=""></h2>
          <a href="#">Login</a><a href="#">Services</a><a href="#">Porfolio</a>
           <a href="#">About</a><a href="index.html">Home</a>
        </nav>
      </header>
      <h1 class="about-hero-heading"> About Us</h1>
      <p class="hero-text">
       `Inovation about As the moon rises in the sky`
      </p>
      <i class="fa fa-play"></i>
    </div>
    <!-- hero section end -->

    <main>
      <div class="expert-section">
        <h1 class="text-center">ABOUT<span>INOVATION</span></h1>
      </div>

      <!-- <div class="main">
        <h1 class="heading-main">Innovation objects</h1>
        <img src="gallery/level1.jpg" alt="" class="customer-image" />
        <div class="box-1">
          <h3 class="text-heading-1">Certified Customer</h3>
          <i class="fa fa-check"></i>
          <p class="text-1">
            When you assume negative intent, you're angry. If you take away that
            anger and assume positive intent, you will be amazed.
          </p>
        </div>
        <div class="box-2">
          <h3 class="text-heading-2">Certified Customer</h3>
          <i class="fa fa-check"></i>
          <p class="text-2">
            When you assume negative intent, you're angry. If you take away that
            anger and assume positive intent, you will be amazed.
          </p>
        </div>
        <div class="box-3">
          <h3 class="text-heading-3">Certified Customer</h3>
          <i class="fa fa-check"></i>
          <p class="text-3">
            When you assume negative intent, you're angry. If you take away that
            anger and assume positive intent, you will be amazed.
          </p>
        </div>
        <div class="box-4">
          <h3 class="text-heading-4">Certified Customer</h3>
          <i class="fa fa-check"></i>
          <p class="text-4">
            When you assume negative intent, you're angry. If you take away that
            anger and assume positive intent, you will be amazed.
          </p>
        </div>
        <div class="box-5">
          <h3 class="text-heading-5">Certified Customer</h3>
          <i class="fa fa-check"></i>
          <p class="text-5">
            When you assume negative intent, you're angry. If you take away that
            anger and assume positive intent, you will be amazed.
          </p>
        </div>
      </div> -->

    </div>
    </main>
    <footer>footer</footer>
  </body>
</html>
