<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="assets/css/style.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
    <link rel="stylesheet" href="assets/css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <title>Inovation</title>
</head>

<body>
    <!-- hero section start -->
    <div class="hero-section">
        <header>
            <nav>
                <h2 class="logo"><img src="gallery/inovation.webp" width="200px" height="90px" alt=""></h2>
                <a href="#">Login</a><a href="service.html">Services</a><a href="#">Porfolio</a><a
                    href="about.html">About</a><a href="file:///C:/Users/Saad%20Ujjan/Desktop/pseudoPrograms/MakeItDoneTommorow/project/template/index.html">Home</a>
            </nav>
        </header>
        <h1 class="hero-heading">PORTFOLIO</h1>

        <i class="fa fa-picture-o"></i>
    </div>
    <!-- hero section end -->

    <main>
        <div class="expert-section">
            <h1 class="text-center">OUR<span> PORTFOLIO</span> </h1>
        </div>
        <div class="container">
            <div class="box1">
                <a href="file:///C:/Users/Saad%20Ujjan/Desktop/pseudoPrograms/MakeItDoneTommorow/project/template/newPage.html">  <img src="gallery/pink1.jpg" width="100%" height="250px"/>
        </a>
                <h2 class="box-heading">Nature Is Natural</h2>
                <p class="box-text">
                    In nature, nothing is perfect and everything is perfect
                </p>
            </div>

            <div class="box2">
                <img src="gallery/pink2.jpg" width="100%" height="250px" />
                <h2 class="box-heading">Nature Is Natural</h2>
                <p class="box-text">
                    In nature, nothing is perfect and everything is perfect
                </p>
            </div>

            <div class="box3">
                <img src="gallery/pink3.jpg" width="100%" height="250px" />
                <h2 class="box-heading">Nature Is Natural</h2>
                <p class="box-text">
                    In nature, nothing is perfect and everything is perfect
                </p>
            </div>
        </div>

        <div class="container">
            <div class="box1">
                <a href="file:///C:/Users/Saad%20Ujjan/Desktop/pseudoPrograms/MakeItDoneTommorow/project/template/newPage.html">  <img src="gallery/pink1.jpg" width="100%" height="250px"/>
                </a>
                <h2 class="box-heading">Nature Is Natural</h2>
                <p class="box-text">
                    In nature, nothing is perfect and everything is perfect
                </p>
            </div>

            <div class="box2">
                <img src="gallery/pink2.jpg" width="100%" height="250px" />
                <h2 class="box-heading">Nature Is Natural</h2>
                <p class="box-text">
                    In nature, nothing is perfect and everything is perfect
                </p>
            </div>

            <div class="box3">
                <img src="gallery/pink3.jpg" width="100%" height="250px" />
                <h2 class="box-heading">Nature Is Natural</h2>
                <p class="box-text">
                    In nature, nothing is perfect and everything is perfect
                </p>
            </div>
        </div>

        <div class="container">
            <div class="box1">
                <a href="file:///C:/Users/Saad%20Ujjan/Desktop/pseudoPrograms/MakeItDoneTommorow/project/template/newPage.html">  <img src="gallery/pink1.jpg" width="100%" height="250px"/>
                </a>
                <h2 class="box-heading">Nature Is Natural</h2>
                <p class="box-text">
                    In nature, nothing is perfect and everything is perfect
                </p>
            </div>

            <div class="box2">
                <img src="gallery/pink2.jpg" width="100%" height="250px" />
                <h2 class="box-heading">Nature Is Natural</h2>
                <p class="box-text">
                    In nature, nothing is perfect and everything is perfect
                </p>
            </div>

            <div class="box3">
                <img src="gallery/pink3.jpg" width="100%" height="250px" />
                <h2 class="box-heading">Nature Is Natural</h2>
                <p class="box-text">
                    In nature, nothing is perfect and everything is perfect
                </p>
            </div>
        </div>



        </div>
        </div>
    </main>
    <footer>footer</footer>
</body>

</html>